<!-- footer -->
<footer>
    <div class="container">
      <div class="row text-left pt-5 pb-5">
        <div class="col-md-4">
          <h5>About me</h5>
          <p>So are you looking for a professional, communicative & punctual software engineer with extensive full-stack
            web development skills for your next project?</p>
          <p> If you have an application you are interested in developing with web technology, I’d love to work with you
            on it.</p>
          <a href="">Hire...</a>
        </div>
        <div class="col-md-4">
          <h5>Services</h5>
          <ul>
            <li><a href="">Mobile Development</a></li>
            <li><a href="">Web Development</a></li>
            <li><a href="">Branding & Identity</a></li>
            <li><a href="">eCommerce Development</a></li>
            <li><a href="">Design & UX</a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <h5>Get in touch</h5>
          <ul>
            <li>
              <p><i class="fas fa-phone"></i> +54 9341 7203981</p>
            </li>
            <li><a href=""><i class="fas fa-at"></i> jcfernandez@outlook.com.ar</a></li>
            <li><a href=""><i class="fab fa-skype"></i> Skype</a></li>
          </ul>
        </div>
      </div>
      <div class="line"></div>
      <div class="row text-left">
        <div class="col-12">
          <p>© 2019 JC Developer. All Rights Reserved.</p>
        </div>
      </div>
    </div>
  </footer>
