<nav class="navbar navbar-expand-sm navbar-light" id="first-nav">
    <div class="container-fluid">
      <a href="" class="navbar-brand"><strong>JC <em>Developer</em></strong></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-caret-down"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto" id="inline">
          <li><a href="#" class="github p-1"><i class="fab fa-linkedin fa-2x"></i></a></li>
          <li><a href="#" class="github p-1"><i class="fab fa-github-square fa-2x"></i></a></li>
          <li class="nav-item blocked"><a href="" class="nav-link home">Home</a></li>
          <li class="nav-item blocked"><a href="#services" class="nav-link">Services</a></li>
          <li class="nav-item blocked"><a href="#personal" class="nav-link">About</a></li>
        </ul>
      </div>
    </div>
  </nav>


  <nav class="navbar navbar-expand-sm sticky-top navbar-dark" id="second-nav">
    <ul class="navbar-nav mx-auto">
      <li class="nav-item"><a href="" class="nav-link home">Home</a></li>
      <li class="nav-item"><a href="#services" class="nav-link">Services</a></li>
      <li class="nav-item"><a href="#personal" class="nav-link">About</a></li>
    </ul>
  </nav>
