<!--personal card-->
<div class="personal" id="personal">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-9 personal-card mx-auto">
        <div class="personal-thumbnail pb-2">
          <img class="thumbnail" src="https://avatars2.githubusercontent.com/u/30184755?s=460&v=4" alt="">
        </div>
        <div class="card-text ml-3 lead">
          <h5 class="name">Jorge Cristian Fernandez</h5>
          <p class="carrer"><strong>Web Developer</strong> </p>
          <p class="description">Hey, I'm a freelance Web Developer.
            Can help you build your next product. I design, build, operate & sometimes rescue full-stack web
            applications.</p>
          <p class="description">So are you looking for a professional, communicative & punctual software engineer with
            extensive full-stack web development skills for your next project?</p>
          <p class="description">Let's chat Skype</p>
          <a href=""><i class="fab fa-github"></i></a>
          <a href=""><i class="fab fa-linkedin-in pl-1"></i></a>
        </div>
        <div class="col-lg-3 col-md-6 mx-auto pt-4">
          <div class="value-card">
            <h5 class="d-inline-flex">Documentation</h5>
            <i class="fas fa-caret-down d-inline-flex pl-2"></i>
            <p>Often overlooked, I think it's incredibly important to leave clients with a clear picture of what's been
              done for the next round of development.</p>
          </div>
          <div class="value-card">
            <h5 class="d-inline-flex">Design</h5>
            <i class="fas fa-caret-down d-inline-flex pl-2"></i>
            <p>While I'm not a graphic designer, I have an eye for good design. I'm comfortable using Photoshop,
              Illustrator and Sketch and can take designs from mock-up to implementation.</p>
          </div>
          <div class="value-card">
            <h5 class="d-inline-flex">Development</h5>
            <i class="fas fa-caret-down d-inline-flex pl-2"></i>
            <p>I have a first-class degree in computer science and recognize the importance of applying proper software
              development techniques to the web.</p>
          </div>
          <div class="value-card">
            <h5 class="d-inline-flex">Organization</h5>
            <i class="fas fa-caret-down d-inline-flex pl-2"></i>
            <p>I play well with others. I'm happy to integrate into your existing team to help get your project
              implemented.</p>
          </div>
          <div class="value-card">
            <h5 class="d-inline-flex">Collaboration</h5>
            <i class="fas fa-caret-down d-inline-flex pl-2"></i>
            <p>I realize the importance of good communication. I use tools like Slack to make sure we’re always on the
              same page.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- banner-->
<div class="solutions">
  <div class="container">
    <div class="row row-mt-15em">
      <div class="col-md-12 mt-text text-center">
        <h1>Build <strong>Branded Sites</strong></h1>
        <h2>Create your company web site to increase your business visibility</h2>
      </div>
    </div>
  </div>
</div>

<!-- services -->
<div class="services mt-5 pt-5" id="services">
  <div class="container">
    <!-- services intro -->
    <div class="row">
      <div class="col-12 text-center">
        <h1>Services</h1>
        <p class="lead">Here are some of my services rendered. My spectrum covers whole software development but these
          are some of my specialties.</p>
      </div>
    </div>
    <div class="row mb-5 text-center">
      <div class="col-lg-4 col-md-6 col-sm-12 p-4 column">
        <div class="custom-card">
          <div class="custom-card-header">
            <div class="d-inline-flex float-left p-4">
              <h5>Web Development</h5>
            </div>
            <div class="d-inline-flex float-right p-2 pr-3">
              <i class="fab fa-angular fa-3x angular-icon"></i>
            </div>
          </div>
          <div class="custom-card-content lead p-3">
            <h5>Angular Framework</h5>
            <p>From prototype through global deployment, Angular delivers the productivity and scalable infrastructure
              that supports Google's largest applications.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 p-4">
        <div class="custom-card">
          <div class="custom-card-header">
            <div class="d-inline-flex float-left p-4 p-4 title">
              <h5>Mobile Development</h5>
            </div>
            <div class="d-inline-flex float-right p-3">
              <i class="material-icons mobile-icon">mobile_friendly</i>
            </div>
          </div>
          <div class="custom-card-content lead p-3">
            <h5>Ionic Framework</h5>
            <p>Build amazing apps in one codebase, for any platform, with the web. Ionic lets web developers build,
              test, and deploy cross-platform hybrid mobile apps easier than ever.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 p-4">
        <div class="custom-card">
          <div class="custom-card-header">
            <div class="d-inline-flex float-left p-4 title">
              <h5>Branded Sites</h5>
            </div>
            <div class="d-inline-flex float-right p-3">
              <i class="material-icons web-icon">web</i>
            </div>
          </div>
          <div class="custom-card-content lead p-3">
            <p>Clearly a website has an important impact on your business. A branded website will instantly build your
              credibility. Your clients will be more likely to choose you and trust you when your website reflects your
              best self.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 p-4">
        <div class="custom-card">
          <div class="custom-card-header">
            <div class="d-inline-flex float-left title p-4">
              <h5>Custom Solutions</h5>
            </div>
            <div class="d-inline-flex float-right p-3">
              <i class="fas fa-box-open fa-2x"></i>
            </div>
          </div>
          <div class="custom-card-content lead p-3">
            <p>Custom software serves the unique processes of your business, solves your specific problems, satisfies
              your exclusive needs and makes your workflows easier, faster, and more efficient.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 p-4">
        <div class="custom-card">
          <div class="custom-card-header">
            <div class="d-inline-flex float-left p-4">
              <h5>Design & UX</h5>
            </div>
            <div class="d-inline-flex float-right p-3">
              <i class="fas fa-dice-d6 fa-2x"></i>
            </div>
          </div>
          <div class="custom-card-content lead p-3">
            <p>As a designer and developer, I understand the perfect user interface should look good and work even
              better. Alongside my clients, I uncover problems and solve them. In short, I create bolder online
              experiences.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 p-4">
        <div class="custom-card">
          <div class="custom-card-header">
            <div class="d-inline-flex float-left p-4 title">
              <h5>eCommerce</h5>
            </div>
            <div class="d-inline-flex float-right p-3">
              <i class="fab fa-wordpress fa-2x"></i>
            </div>
          </div>
          <div class="custom-card-content lead p-3">
            <p>WordPress is
              the world’s most popular content management system which I have many years of experience with. My
              experience enables me to make the most cost-effective decisions.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- workflow section -->
<div class="workflow">
  <div class="container">
    <div class="row pt-5">
      <div class="col-12 text-center">
        <h1>How we work</h1>
        <p class="lead">In order to achieve great product we work neatly and in production line.</p>
      </div>
    </div>
    <div class="row" id="last-bubble">
      <div class="col-md-4 col-lg-4 text-center">
        <div class="bubble mx-auto">
          <strong>1</strong>
        </div>
        <p class="bubble-title p-1">DESIGN</p>
        <p class="lead">Planning, design and present to customer prototype of the product.</p>
      </div>
      <div class="col-md-4 col-lg-4 text-center pt-1">
        <div class="bubble mx-auto">
          <strong>2</strong>
        </div>
        <p class="bubble-title p-1">BUILD</p>
        <p class="lead">Build and test internally the solution, propose improvements.</p>
      </div>
      <div class="col-md-4 col-lg-4 text-center pt-1">
        <div class="bubble mx-auto">
          <strong>3</strong>
        </div>
        <p class="bubble-title p-1">DELIVER</p>
        <p class="lead">Deliver customer the final product with corresponding documentation and knowledge transfer.</p>
      </div>
    </div>
  </div>
</div>
